{{ 'melatonic-table.css' | asset_url | stylesheet_tag }}

<section class="melatonic-table__section">
  <h2 class="melatonic-table__title">Precision-formulated with clinically studied ingridients</h2>

  <div class="melatonic-table__body">
  <table>
    <tbody>
      <tr>
        <td>Melatonin</td>
        <td>0.01%</td>
        <td>Effective at low dose, avoids irritation</td>
      </tr>

       <tr>
        <td>Biotin</td>
        <td>0.05%</td>
        <td>Ideal strength: more isn't more</td>
      </tr>

       <tr>
        <td>Argan oil</td>
        <td>5.00%</td>
        <td>Nourishes scalp, boosts absorption</td>
      </tr>

       <tr>
        <td>Vitamin E</td>
        <td>1.00%</td>
        <td>Protects formula, supports scalp barrier</td>
      </tr>

       <tr>
        <td>Sodium Ascorbyl Phosphate</td>
        <td>2%</td>
        <td>Stable Vitamin C for scalp health</td>
      </tr>
    </tbody>
  </table>
    </div>

  <div class="melatonic-table__bottom">
    <h3 class="melatonic-table__subtitle">Percentages based on optimal topical ranges.</h3>

    <div class="melatonic-table__description">
      <p>Dermatologist reviewed</p>
      <span class="icon"></span>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Melatonic Table",
    "settings": []
  }
{% endschema %}