.melatonic-table__section {
  margin-top: 5rem;
}

.melatonic-table__title {
  font-size: 3.2rem;
}

.melatonic-table__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.melatonic-table__subtitle {
  font-size: 1.8rem;
}

.melatonic-table__description {
  p {
    font-size: 1.4rem;
  }

  span {
    display: flex;
    max-width: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}