.melatonic-table__section {
  margin-top: 5rem;
}

.melatonic-table__title {
  font-size: 3.2rem;
}

.melatonic-table__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.melatonic-table__subtitle {
  font-size: 1.8rem;
}