.melatonic-table__section {
  margin-top: 5rem;
}

.melatonic-table__title {
  font-size: 2.6rem;
}

.melatonic-table__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 63rem;
}

.melatonic-table__subtitle {
  font-size: 1.6rem;
}

.melatonic-table__description {
  display: flex;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 1.4rem;
    margin: initial;
  }

  span {
    display: flex;
    max-width: 1.5rem;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}
